:root {
    background-image:url("6.png") ;
    background-position: left;
     
     background-size: cover;
    }

form{
    text-align: center;
}

.btn {
    font-size: 22px;
      padding: 1rem 0;
      width: 20rem;
      text-align: center ;
      border: 0.1rem solid #56a5eb;
      margin-bottom: 0rem;
      text-decoration: none;
     color: #0b3d68;
      background-color:rgb(223, 231, 245);
      border-radius: 45px;
      margin-bottom: 7px;
      box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  }

  .btn:hover {
    cursor: pointer;
      box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
      transform: translateY(-0.1rem);
      transition: transform 150ms;
  }

  .btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    margin-bottom: 1rem;
    width: 30rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    border-radius: 100px;
  }
  
  input::placeholder {
    color:  #0b3d68;
    text-align: center;
  }

  .btn {background-image: linear-gradient(to right, #4295ab 0%, rgb(35 61 120) 51%, #2f5f8c 100%);
  }
  .btn{
      
              text-align: center;
              transition: 0.5s;
              background-size: 200% auto;
              color: white;            
              box-shadow: 0 5px 10px #779dc6;
              display: block;
  }
  .btn:hover{
      background-position: right center; /* change the direction of the change here */
              color:#fff ;
              text-decoration: none;
  }

  h1{
      color: #fff;
      text-align: center;
      padding-top: 150px;
  }

  .text{
      width: 325px;
      height: 70px;
      font-size: x-large;
  }